*{
  box-sizing: border-box;
  font-family:"poppins","sans-serif";
  margin:0;
  padding:0;
}
.body{
  position: relative;;
  background:green;
  display: flex;
  align-items: center;
  height:100vh;
}
.container
{
  position:relative;
  margin:auto;
  width:400px;
  height:555px;
  background-color:rgb(34, 30, 108);
  border-radius: 16px;
  align-items:center;

}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 60%;
}
.p
{
  color:aqua;
  

  
}
.h1
{
  color:white
}
.fade-in {
  animation: fadeIn 3s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.h1{
   justify-content: center;
    align-items: center;
    
}
.button
{
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.j
{
  padding-left: 10px;
  color:blueviolet
}
